		<style type="text/css">
		#links{
			list-style-type: none;
			position: relative;
			right: -40px;
		}
		</style>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h5>עקבו אחרינו</h5>
						<p><a href="https://www.facebook.com/roystern.law"><img src="images/facebook.png" width="50" class="facebook"></a></p>
					</div><!-- end col-sm-4 -->
					<div class="col-sm-4 rights">
						<h5>זכויות יוצרים &copy; 2015 || <a href="views/terms.html">תנאי שימוש</a><h5>
					</div><!-- end col-sm-4 -->
					<div class="col-sm-4 built">
						<h6>Designed & Powered by Polaris</h6>
					</div><!-- end col-sm-4 -->
				</div><!-- end row -->
			</div><!-- end container -->
		</footer>